In [1]:
import pandas as pd
import mysql.connector as conn
import numpy as np
import random
import re
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

In [3]:
actor_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\actor.csv')

actor_csv_ori=actor_csv.copy()

In [4]:
actor_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
actor_id       200 non-null int64
first_name     200 non-null object
last_name      200 non-null object
last_update    200 non-null object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [5]:
actor_csv.drop(['last_update'], axis=1, inplace=True)

In [6]:
actor_csv.head()

   actor_id first_name     last_name
0         1   PENELOPE       GUINESS
1         2       NICK      WAHLBERG
2         3         ED         CHASE
3         4   JENNIFER         DAVIS
4         5     JOHNNY  LOLLOBRIGIDA

In [7]:
filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\actor_clean.csv')  
actor_csv.to_csv(filepath, index=False)

In [8]:
category_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\category.csv')

In [9]:
category_csv.head(5)

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [10]:
category_csv.drop(['last_update'], axis=1, inplace=True)
filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\category_clean.csv')  
category_csv.to_csv(filepath,index=False)

In [11]:
film_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\film.csv')

In [12]:
film_csv.nunique()

film_id                 1000
title                   1000
description             1000
release_year               1
language_id                1
original_language_id       0
rental_duration            5
rental_rate                3
length                   140
replacement_cost          21
rating                     5
special_features          15
last_update                1
dtype: int64

In [13]:
len(max(film_csv.rating, key=len))
#recupera la longitud mas larga de una string en un alista.
#eliminar original_language_id?

film_csv.drop(['original_language_id'], axis=1, inplace=True)

In [14]:
filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\film_clean.csv')  
film_csv.to_csv(filepath,index=False)

In [15]:
language_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\language.csv')

In [16]:
language_csv

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [17]:
language_csv.drop(['last_update'], axis=1, inplace=True)
filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\language_clean.csv')  
language_csv.to_csv(filepath, index=False)

In [18]:
rental_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\rental.csv')

In [19]:
rental_csv.nunique()

rental_id       1000
rental_date      999
inventory_id    1000
customer_id      485
return_date      997
staff_id           2
last_update        1
dtype: int64

In [20]:
listado=[x for x in rental_csv.inventory_id if x > 1000]
len(listado)

788

In [21]:
pd.set_option('display.max_rows', None)  # ver todas las columnas

orden=rental_csv.sort_values(by=['inventory_id'])
orden.reset_index(drop=True)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,972,2005-05-30 20:21:07,2,411,2005-06-06 00:36:07,1,2006-02-15 21:30:53
1,361,2005-05-27 07:03:28,6,587,2005-05-31 08:01:28,1,2006-02-15 21:30:53
2,995,2005-05-31 00:06:02,17,150,2005-06-06 02:30:02,2,2006-02-15 21:30:53
3,465,2005-05-27 20:44:36,20,261,2005-06-02 02:43:36,1,2006-02-15 21:30:53
4,552,2005-05-28 07:53:38,23,106,2005-06-04 12:45:38,2,2006-02-15 21:30:53
5,317,2005-05-26 23:23:56,26,391,2005-06-01 19:56:56,2,2006-02-15 21:30:53
6,259,2005-05-26 15:32:46,30,482,2005-06-04 15:27:46,2,2006-02-15 21:30:53
7,120,2005-05-25 19:37:47,37,365,2005-06-01 23:29:47,2,2006-02-15 21:30:53
8,785,2005-05-29 15:08:41,39,72,2005-05-30 15:51:41,1,2006-02-15 21:30:53
9,563,2005-05-28 09:10:49,53,324,2005-06-06 11:32:49,1,2006-02-15 21:30:53
10,633,2005-05-28 17:37:59,58,360,2005-06-03 22:49:59,2,2006-02-15 21:30:53
11,827,2005-05-29 21:58:43,62,573,2005-06-06 00:54:43,1,2006-02-15 21:30:53
12,983,2005-05-30 22:15:51,63,115,2005-06-02 22:56:51,1,2006-02-15 21:30:53
13,505,2005-05-28 02:06:37,71,111,2005-05-29 06:57:37,1,2006-02-15 21:30:53
14,481,2005-05-27 22:49:27,72,445,2005-05-30 17:46:27,2,2006-02-15 21:30:53
15,64,2005-05-25 09:21:29,79,368,2005-06-03 11:31:29,1,2006-02-15 21:30:53
16,716,2005-05-29 04:35:29,85,36,2005-06-01 07:42:29,2,2006-02-15 21:30:53
17,664,2005-05-28 21:31:08,87,523,2005-06-02 20:56:08,2,2006-02-15 21:30:53
18,781,2005-05-29 14:23:58,88,313,2005-05-30 17:44:58,1,2006-02-15 21:30:53
19,588,2005-05-28 12:08:37,95,89,2005-05-29 16:25:37,2,2006-02-15 21:30:53
20,207,2005-05-26 08:04:38,102,47,2005-05-27 09:32:38,2,2006-02-15 21:30:53
21,135,2005-05-25 21:58:58,103,304,2005-06-03 17:50:58,1,2006-02-15 21:30:53
22,968,2005-05-30 19:20:03,119,576,2005-05-31 18:17:03,2,2006-02-15 21:30:53
23,653,2005-05-28 20:12:20,126,327,2005-06-04 14:44:20,2,2006-02-15 21:30:53
24,429,2005-05-27 16:21:26,129,498,2005-06-05 20:23:26,2,2006-02-15 21:30:53
25,699,2005-05-29 02:11:44,130,246,2005-06-04 20:23:44,2,2006-02-15 21:30:53
26,239,2005-05-26 12:30:26,131,49,2005-06-01 13:26:26,2,2006-02-15 21:30:53
27,91,2005-05-25 14:57:22,139,267,2005-06-01 18:32:22,1,2006-02-15 21:30:53
28,642,2005-05-28 18:49:12,140,157,2005-06-01 20:50:12,2,2006-02-15 21:30:53
29,355,2005-05-27 06:15:33,141,446,2005-06-01 02:50:33,2,2006-02-15 21:30:53
30,393,2005-05-27 11:18:25,145,251,2005-05-28 07:10:25,2,2006-02-15 21:30:53
31,21,2005-05-25 01:59:46,146,388,2005-05-26 01:01:46,2,2006-02-15 21:30:53
32,944,2005-05-30 15:26:24,151,131,2005-06-07 18:09:24,2,2006-02-15 21:30:53
33,557,2005-05-28 08:36:22,158,444,2005-06-03 10:42:22,2,2006-02-15 21:30:53
34,95,2005-05-25 16:12:52,178,400,2005-06-02 18:55:52,2,2006-02-15 21:30:53
35,278,2005-05-26 17:40:58,182,214,2005-06-02 16:43:58,2,2006-02-15 21:30:53
36,493,2005-05-28 00:34:11,184,501,2005-05-30 18:40:11,1,2006-02-15 21:30:53
37,817,2005-05-29 20:39:14,186,554,2005-05-31 18:24:14,1,2006-02-15 21:30:53
38,308,2005-05-26 22:01:39,187,277,2005-06-04 20:24:39,2,2006-02-15 21:30:53
39,196,2005-05-26 06:55:58,190,184,2005-05-27 10:54:58,1,2006-02-15 21:30:53
40,710,2005-05-29 03:48:36,194,518,2005-06-03 05:03:36,1,2006-02-15 21:30:53
41,451,2005-05-27 19:27:54,205,87,2005-05-29 01:07:54,2,2006-02-15 21:30:53
42,270,2005-05-26 16:20:56,207,200,2005-06-03 12:40:56,2,2006-02-15 21:30:53
43,124,2005-05-25 20:46:11,212,246,2005-05-30 00:47:11,2,2006-02-15 21:30:53
44,227,2005-05-26 10:51:46,214,301,2005-05-30 07:24:46,1,2006-02-15 21:30:53
45,513,2005-05-28 03:08:10,225,489,2005-05-29 07:22:10,1,2006-02-15 21:30:53
46,670,2005-05-28 22:04:03,227,201,2005-06-06 22:43:03,2,2006-02-15 21:30:53
47,517,2005-05-28 03:17:57,234,403,2005-05-29 06:33:57,1,2006-02-15 21:30:53
48,67,2005-05-25 09:41:01,239,119,2005-05-27 13:46:01,2,2006-02-15 21:30:53
49,237,2005-05-26 12:15:13,241,536,2005-05-29 18:10:13,1,2006-02-15 21:30:53
50,728,2005-05-29 06:12:38,242,551,2005-06-03 07:41:38,1,2006-02-15 21:30:53
51,773,2005-05-29 13:18:05,245,563,2005-06-07 17:22:05,1,2006-02-15 21:30:53
52,928,2005-05-30 12:27:14,246,79,2005-06-05 13:56:14,2,2006-02-15 21:30:53
53,300,2005-05-26 20:57:00,249,47,2005-06-05 01:34:00,2,2006-02-15 21:30:53
54,400,2005-05-27 12:51:44,258,249,2005-05-31 08:34:44,2,2006-02-15 21:30:53
55,62,2005-05-25 09:18:52,261,419,2005-05-30 10:55:52,1,2006-02-15 21:30:53
56,392,2005-05-27 11:14:42,263,359,2005-06-01 14:28:42,2,2006-02-15 21:30:53
57,527,2005-05-28 04:28:38,266,169,2005-06-02 08:19:38,1,2006-02-15 21:30:53
58,719,2005-05-29 05:16:05,267,245,2005-06-01 07:53:05,2,2006-02-15 21:30:53
59,613,2005-05-28 15:27:22,270,595,2005-06-02 20:01:22,1,2006-02-15 21:30:53
60,742,2005-05-29 08:36:30,273,483,2005-06-05 11:30:30,1,2006-02-15 21:30:53
61,614,2005-05-28 15:33:28,280,307,2005-06-04 12:27:28,2,2006-02-15 21:30:53
62,155,2005-05-26 01:15:05,288,551,2005-06-01 00:03:05,1,2006-02-15 21:30:53
63,835,2005-05-29 23:37:00,299,381,2005-06-02 23:38:00,1,2006-02-15 21:30:53
64,205,2005-05-26 07:59:37,303,114,2005-05-29 09:43:37,2,2006-02-15 21:30:53
65,286,2005-05-26 19:44:51,314,371,2005-06-04 18:00:51,2,2006-02-15 21:30:53
66,139,2005-05-25 23:00:21,327,257,2005-05-29 17:12:21,1,2006-02-15 21:30:53
67,60,2005-05-25 08:58:25,330,470,2005-05-30 14:14:25,1,2006-02-15 21:30:53
68,655,2005-05-28 20:16:20,331,287,2005-05-31 16:46:20,2,2006-02-15 21:30:53
69,467,2005-05-27 21:10:03,339,557,2005-06-01 16:08:03,1,2006-02-15 21:30:53
70,284,2005-05-26 19:21:44,350,359,2005-06-04 14:18:44,2,2006-02-15 21:30:53
71,771,2005-05-29 12:59:14,353,476,2005-06-01 16:05:14,2,2006-02-15 21:30:53
72,439,2005-05-27 17:54:48,354,319,2005-06-02 23:01:48,2,2006-02-15 21:30:53
73,366,2005-05-27 07:33:54,360,134,2005-06-04 01:55:54,2,2006-02-15 21:30:53
74,874,2005-05-30 05:36:21,363,52,2005-06-01 09:32:21,1,2006-02-15 21:30:53
75,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
76,250,2005-05-26 14:30:24,368,539,2005-05-27 08:50:24,1,2006-02-15 21:30:53
77,701,2005-05-29 02:26:27,372,112,2005-06-03 04:59:27,1,2006-02-15 21:30:53
78,102,2005-05-25 17:22:10,373,343,2005-05-31 19:47:10,1,2006-02-15 21:30:53
79,577,2005-05-28 11:09:14,375,6,2005-06-01 13:27:14,2,2006-02-15 21:30:53
80,591,2005-05-28 13:11:04,377,19,2005-05-29 17:20:04,2,2006-02-15 21:30:53
81,793,2005-05-29 16:44:08,379,528,2005-06-06 19:21:08,2,2006-02-15 21:30:53
82,42,2005-05-25 05:24:58,380,523,2005-05-31 02:47:58,2,2006-02-15 21:30:53
83,888,2005-05-30 07:13:14,387,128,2005-06-06 09:50:14,1,2006-02-15 21:30:53
84,16,2005-05-25 00:43:11,389,316,2005-05-26 04:42:11,2,2006-02-15 21:30:53
85,987,2005-05-30 22:59:12,390,11,2005-06-07 20:56:12,1,2006-02-15 21:30:53
86,488,2005-05-28 00:07:50,393,168,2005-06-03 22:30:50,2,2006-02-15 21:30:53
87,133,2005-05-25 21:48:30,399,237,2005-05-30 00:26:30,2,2006-02-15 21:30:53
88,37,2005-05-25 04:44:31,403,535,2005-05-29 01:03:31,1,2006-02-15 21:30:53
89,978,2005-05-30 21:30:52,407,154,2005-06-07 16:22:52,1,2006-02-15 21:30:53
90,478,2005-05-27 22:38:20,424,557,2005-05-31 18:39:20,2,2006-02-15 21:30:53
91,627,2005-05-28 17:04:43,425,241,2005-06-04 19:58:43,2,2006-02-15 21:30:53
92,388,2005-05-27 10:37:27,434,28,2005-05-30 05:45:27,1,2006-02-15 21:30:53
93,260,2005-05-26 15:42:20,435,21,2005-05-31 13:21:20,2,2006-02-15 21:30:53
94,800,2005-05-29 17:28:12,441,472,2005-05-30 14:59:12,1,2006-02-15 21:30:53
95,969,2005-05-30 19:23:48,443,551,2005-05-31 21:14:48,1,2006-02-15 21:30:53
96,777,2005-05-29 14:07:58,451,360,2005-06-03 08:41:58,2,2006-02-15 21:30:53
97,626,2005-05-28 16:58:09,452,584,2005-06-01 14:02:09,2,2006-02-15 21:30:53
98,498,2005-05-28 01:01:21,458,287,2005-05-30 21:20:21,2,2006-02-15 21:30:53
99,402,2005-05-27 13:17:18,461,354,2005-05-30 08:53:18,2,2006-02-15 21:30:53
100,83,2005-05-25 12:30:15,466,131,2005-05-27 15:40:15,1,2006-02-15 21:30:53
101,85,2005-05-25 13:05:34,470,414,2005-05-29 16:53:34,1,2006-02-15 21:30:53
102,892,2005-05-30 08:02:56,471,274,2005-06-05 12:51:56,1,2006-02-15 21:30:53
103,590,2005-05-28 13:06:50,473,462,2005-06-02 09:18:50,1,2006-02-15 21:30:53
104,291,2005-05-26 20:20:47,485,577,2005-06-03 02:06:47,2,2006-02-15 21:30:53
105,546,2005-05-28 07:16:25,487,20,2005-06-01 08:36:25,1,2006-02-15 21:30:53
106,950,2005-05-30 16:06:08,491,83,2005-06-01 11:43:08,1,2006-02-15 21:30:53
107,640,2005-05-28 18:43:26,495,465,2005-05-30 13:39:26,1,2006-02-15 21:30:53
108,700,2005-05-29 02:18:54,500,117,2005-05-30 05:54:54,1,2006-02-15 21:30:53
109,238,2005-05-26 12:30:22,503,211,2005-05-27 06:49:22,1,2006-02-15 21:30:53
110,195,2005-05-26 06:52:36,506,564,2005-05-31 02:47:36,2,2006-02-15 21:30:53
111,228,2005-05-26 10:54:28,511,571,2005-06-04 09:39:28,1,2006-02-15 21:30:53
112,765,2005-05-29 11:38:34,515,69,2005-06-02 17:04:34,1,2006-02-15 21:30:53
113,73,2005-05-25 11:00:07,517,391,2005-06-01 13:56:07,2,2006-02-15 21:30:53
114,543,2005-05-28 06:43:34,530,493,2005-06-06 07:16:34,2,2006-02-15 21:30:53
115,779,2005-05-29 14:17:17,533,105,2005-06-06 16:46:17,1,2006-02-15 21:30:53
116,99,2005-05-25 16:50:20,535,44,2005-05-28 18:52:20,1,2006-02-15 21:30:53
117,844,2005-05-30 00:58:20,536,429,2005-06-01 00:38:20,1,2006-02-15 21:30:53
118,958,2005-05-30 17:58:03,548,186,2005-06-01 19:17:03,2,2006-02-15 21:30:53
119,399,2005-05-27 12:48:38,553,204,2005-05-29 15:27:38,1,2006-02-15 21:30:53
120,860,2005-05-30 02:45:16,578,276,2005-06-08 07:28:16,1,2006-02-15 21:30:53
121,745,2005-05-29 09:22:57,581,152,2005-06-01 09:10:57,1,2006-02-15 21:30:53
122,948,2005-05-30 15:44:27,585,245,2005-06-08 17:30:27,2,2006-02-15 21:30:53
123,694,2005-05-29 01:49:43,592,399,2005-06-05 06:52:43,1,2006-02-15 21:30:53
124,310,2005-05-26 22:41:07,593,409,2005-06-02 04:09:07,1,2006-02-15 21:30:53
125,595,2005-05-28 13:59:54,595,294,2005-06-05 15:16:54,1,2006-02-15 21:30:53
126,459,2005-05-27 20:00:04,597,468,2005-05-29 22:47:04,1,2006-02-15 21:30:53
127,598,2005-05-28 14:04:50,599,159,2005-06-03 18:00:50,2,2006-02-15 21:30:53
128,740,2005-05-29 08:30:36,600,89,2005-06-04 12:47:36,2,2006-02-15 21:30:53
129,501,2005-05-28 01:09:36,601,162,2005-05-30 06:14:36,2,2006-02-15 21:30:53
130,881,2005-05-30 06:15:36,602,242,2005-06-02 10:21:36,1,2006-02-15 21:30:53
131,795,2005-05-29 16:57:39,609,551,2005-06-01 11:33:39,2,2006-02-15 21:30:53
132,29,2005-05-25 03:47:12,611,44,2005-05-30 00:31:12,2,2006-02-15 21:30:53
133,101,2005-05-25 17:17:04,617,468,2005-05-31 19:47:04,1,2006-02-15 21:30:53
134,420,2005-05-27 15:19:38,619,93,2005-06-03 15:07:38,2,2006-02-15 21:30:53
135,819,2005-05-29 21:00:32,623,511,2005-06-02 15:15:32,2,2006-02-15 21:30:53
136,816,2005-05-29 20:26:39,630,474,2005-06-06 22:31:39,2,2006-02-15 21:30:53
137,147,2005-05-26 00:17:50,633,274,2005-05-29 23:21:50,2,2006-02-15 21:30:53
138,693,2005-05-29 01:42:31,635,190,2005-06-03 02:29:31,2,2006-02-15 21:30:53
139,592,2005-05-28 13:21:08,638,244,2005-05-29 16:55:08,1,2006-02-15 21:30:53
140,560,2005-05-28 08:53:02,644,463,2005-06-04 12:27:02,2,2006-02-15 21:30:53
141,885,2005-05-30 06:54:28,646,62,2005-06-03 07:03:28,2,2006-02-15 21:30:53
142,956,2005-05-30 17:30:28,647,296,2005-06-07 13:54:28,2,2006-02-15 21:30:53
143,225,2005-05-26 10:27:50,651,467,2005-06-01 07:01:50,2,2006-02-15 21:30:53
144,140,2005-05-25 23:34:22,655,354,2005-05-27 01:10:22,1,2006-02-15 21:30:53
145,274,2005-05-26 16:48:51,656,311,2005-06-03 18:17:51,1,2006-02-15 21:30:53
146,964,2005-05-30 18:53:21,657,287,2005-06-04 22:32:21,2,2006-02-15 21:30:53
147,279,2005-05-26 18:02:50,661,384,2005-06-03 18:48:50,2,2006-02-15 21:30:53
148,506,2005-05-28 02:09:19,667,469,2005-06-05 20:34:19,1,2006-02-15 21:30:53
149,202,2005-05-26 07:27:36,674,20,2005-06-02 03:52:36,1,2006-02-15 21:30:53
150,215,2005-05-26 09:02:47,679,197,2005-05-28 09:45:47,2,2006-02-15 21:30:53
151,767,2005-05-29 12:20:19,687,67,2005-06-02 14:15:19,2,2006-02-15 21:30:53
152,389,2005-05-27 10:45:41,691,500,2005-06-05 06:22:41,2,2006-02-15 21:30:53
153,672,2005-05-28 22:05:29,697,306,2005-06-06 02:10:29,2,2006-02-15 21:30:53
154,789,2005-05-29 16:17:07,708,553,2005-06-06 18:15:07,1,2006-02-15 21:30:53
155,825,2005-05-29 21:49:41,712,371,2005-06-04 20:27:41,2,2006-02-15 21:30:53
156,233,2005-05-26 11:43:44,715,531,2005-05-28 17:28:44,2,2006-02-15 21:30:53
157,932,2005-05-30 12:55:36,719,198,2005-05-31 10:30:36,2,2006-02-15 21:30:53
158,444,2005-05-27 18:39:15,723,239,2005-06-01 15:56:15,1,2006-02-15 21:30:53
159,22,2005-05-25 02:19:23,727,509,2005-05-26 04:52:23,2,2006-02-15 21:30:53
160,209,2005-05-26 08:14:01,729,379,2005-05-27 09:00:01,1,2006-02-15 21:30:53
161,750,2005-05-29 09:41:40,730,269,2005-05-30 13:31:40,1,2006-02-15 21:30:53
162,754,2005-05-29 10:18:59,734,281,2005-06-04 05:03:59,2,2006-02-15 21:30:53
163,651,2005-05-28 19:46:50,739,266,2005-05-30 16:29:50,1,2006-02-15 21:30:53
164,689,2005-05-29 00:46:53,742,571,2005-06-03 23:48:53,2,2006-02-15 21:30:53
165,115,2005-05-25 19:13:25,749,455,2005-05-29 20:17:25,1,2006-02-15 21:30:53
166,337,2005-05-27 03:22:30,751,19,2005-06-02 03:27:30,1,2006-02-15 21:30:53
167,395,2005-05-27 11:45:49,752,575,2005-05-31 13:42:49,1,2006-02-15 21:30:53
168,901,2005-05-30 09:40:40,760,259,2005-06-02 10:32:40,1,2006-02-15 21:30:53
169,788,2005-05-29 16:13:55,763,562,2005-05-31 16:40:55,1,2006-02-15 21:30:53
170,212,2005-05-26 08:34:41,764,59,2005-05-30 12:46:41,2,2006-02-15 21:30:53
171,737,2005-05-29 08:11:31,769,589,2005-06-04 11:18:31,2,2006-02-15 21:30:53
172,92,2005-05-25 15:38:46,775,302,2005-05-31 13:40:46,2,2006-02-15 21:30:53
173,201,2005-05-26 07:13:45,776,444,2005-06-04 02:02:45,2,2006-02-15 21:30:53
174,802,2005-05-29 17:38:59,785,350,2005-05-31 22:42:59,2,2006-02-15 21:30:53
175,105,2005-05-25 17:54:12,794,108,2005-05-30 12:03:12,2,2006-02-15 21:30:53
176,667,2005-05-28 21:49:02,797,596,2005-05-31 03:07:02,1,2006-02-15 21:30:53
177,692,2005-05-29 01:32:10,800,18,2005-06-02 03:54:10,2,2006-02-15 21:30:53
178,473,2005-05-27 21:36:34,802,105,2005-06-05 17:02:34,1,2006-02-15 21:30:53
179,141,2005-05-25 23:34:53,811,89,2005-06-02 01:57:53,1,2006-02-15 21:30:53
180,131,2005-05-25 21:42:46,815,325,2005-05-30 23:25:46,2,2006-02-15 21:30:53
181,918,2005-05-30 11:32:24,818,197,2005-05-31 07:55:24,2,2006-02-15 21:30:53
182,707,2005-05-29 03:18:19,819,252,2005-05-30 02:45:19,1,2006-02-15 21:30:53
183,596,2005-05-28 14:00:03,821,589,2005-05-29 17:10:03,1,2006-02-15 21:30:53
184,463,2005-05-27 20:11:47,826,21,2005-06-04 21:18:47,1,2006-02-15 21:30:53
185,17,2005-05-25 01:06:36,830,575,2005-05-27 00:43:36,1,2006-02-15 21:30:53
186,364,2005-05-27 07:20:12,833,430,2005-05-31 10:44:12,2,2006-02-15 21:30:53
187,143,2005-05-25 23:45:52,847,297,2005-05-27 21:41:52,2,2006-02-15 21:30:53
188,657,2005-05-28 20:23:09,848,65,2005-06-01 02:11:09,1,2006-02-15 21:30:53
189,176,2005-05-26 03:47:39,851,250,2005-06-01 02:36:39,2,2006-02-15 21:30:53
190,167,2005-05-26 02:50:31,865,401,2005-05-27 03:07:31,1,2006-02-15 21:30:53
191,118,2005-05-25 19:31:18,872,524,2005-05-31 15:00:18,1,2006-02-15 21:30:53
192,877,2005-05-30 05:48:59,886,9,2005-06-02 09:30:59,1,2006-02-15 21:30:53
193,157,2005-05-26 01:25:21,887,344,2005-05-26 21:17:21,2,2006-02-15 21:30:53
194,586,2005-05-28 12:03:00,898,77,2005-05-29 13:16:00,1,2006-02-15 21:30:53
195,936,2005-05-30 13:52:49,901,469,2005-06-07 16:56:49,1,2006-02-15 21:30:53
196,679,2005-05-28 23:24:57,907,526,2005-06-06 21:59:57,2,2006-02-15 21:30:53
197,150,2005-05-26 00:28:39,909,429,2005-06-01 02:10:39,2,2006-02-15 21:30:53
198,384,2005-05-27 10:18:20,910,371,2005-06-02 09:21:20,2,2006-02-15 21:30:53
199,854,2005-05-30 01:56:11,921,369,2005-06-01 06:34:11,2,2006-02-15 21:30:53
200,561,2005-05-28 08:54:06,928,77,2005-06-05 05:54:06,1,2006-02-15 21:30:53
201,726,2005-05-29 06:05:29,933,452,2005-06-05 04:40:29,2,2006-02-15 21:30:53
202,846,2005-05-30 01:17:45,938,49,2005-06-01 00:56:45,2,2006-02-15 21:30:53
203,369,2005-05-27 07:46:49,944,508,2005-06-01 06:20:49,2,2006-02-15 21:30:53
204,340,2005-05-27 03:55:25,946,209,2005-06-04 07:57:25,2,2006-02-15 21:30:53
205,125,2005-05-25 20:48:50,952,368,2005-06-02 21:39:50,1,2006-02-15 21:30:53
206,383,2005-05-27 10:12:20,955,298,2005-06-03 10:37:20,1,2006-02-15 21:30:53
207,272,2005-05-26 16:27:11,971,71,2005-06-03 13:10:11,2,2006-02-15 21:30:53
208,837,2005-05-30 00:02:08,977,172,2005-06-02 05:31:08,2,2006-02-15 21:30:53
209,189,2005-05-26 06:01:41,984,247,2005-05-27 06:11:41,1,2006-02-15 21:30:53
210,616,2005-05-28 15:45:39,989,471,2005-06-02 09:55:39,1,2006-02-15 21:30:53
211,534,2005-05-28 06:15:25,992,184,2005-06-06 07:51:25,1,2006-02-15 21:30:53
212,495,2005-05-28 00:40:48,1007,526,2005-05-29 06:07:48,1,2006-02-15 21:30:53
213,665,2005-05-28 21:38:39,1012,415,2005-05-29 21:37:39,1,2006-02-15 21:30:53
214,414,2005-05-27 14:48:20,1019,219,2005-05-31 14:39:20,2,2006-02-15 21:30:53
215,396,2005-05-27 11:47:04,1020,112,2005-05-29 10:14:04,1,2006-02-15 21:30:53
216,753,2005-05-29 10:16:42,1021,135,2005-06-05 08:52:42,2,2006-02-15 21:30:53
217,671,2005-05-28 22:04:30,1027,14,2005-06-03 01:21:30,2,2006-02-15 21:30:53
218,244,2005-05-26 13:40:40,1041,257,2005-05-31 11:58:40,1,2006-02-15 21:30:53
219,109,2005-05-25 18:40:20,1044,503,2005-05-29 20:39:20,2,2006-02-15 21:30:53
220,121,2005-05-25 19:41:29,1053,405,2005-05-29 21:31:29,1,2006-02-15 21:30:53
221,937,2005-05-30 14:47:31,1054,304,2005-06-05 09:53:31,2,2006-02-15 21:30:53
222,757,2005-05-29 10:29:47,1067,435,2005-06-07 15:27:47,1,2006-02-15 21:30:53
223,764,2005-05-29 11:37:35,1069,149,2005-05-31 16:47:35,1,2006-02-15 21:30:53
224,164,2005-05-26 02:26:49,1070,151,2005-05-28 00:32:49,1,2006-02-15 21:30:53
225,407,2005-05-27 13:57:38,1077,44,2005-05-31 18:23:38,1,2006-02-15 21:30:53
226,298,2005-05-26 20:52:26,1083,460,2005-05-29 22:08:26,2,2006-02-15 21:30:53
227,149,2005-05-26 00:28:05,1084,319,2005-06-02 21:30:05,2,2006-02-15 21:30:53
228,230,2005-05-26 11:31:50,1085,58,2005-05-30 15:22:50,1,2006-02-15 21:30:53
229,545,2005-05-28 07:10:20,1086,54,2005-06-04 01:47:20,2,2006-02-15 21:30:53
230,320,2005-05-27 00:09:24,1090,2,2005-05-28 04:30:24,2,2006-02-15 21:30:53
231,899,2005-05-30 09:29:30,1096,156,2005-06-06 12:39:30,2,2006-02-15 21:30:53
232,307,2005-05-26 21:48:13,1097,375,2005-06-04 22:24:13,1,2006-02-15 21:30:53
233,812,2005-05-29 20:00:30,1099,225,2005-05-30 19:43:30,2,2006-02-15 21:30:53
234,798,2005-05-29 17:23:43,1102,134,2005-06-01 13:06:43,2,2006-02-15 21:30:53
235,426,2005-05-27 15:56:57,1103,522,2005-06-05 11:45:57,1,2006-02-15 21:30:53
236,303,2005-05-26 21:16:52,1111,596,2005-05-27 23:41:52,2,2006-02-15 21:30:53
237,531,2005-05-28 05:23:38,1113,589,2005-05-29 08:00:38,2,2006-02-15 21:30:53
238,721,2005-05-29 05:28:47,1116,44,2005-05-31 11:24:47,1,2006-02-15 21:30:53
239,894,2005-05-30 08:31:31,1118,400,2005-06-07 12:39:31,1,2006-02-15 21:30:53
240,432,2005-05-27 16:40:29,1119,46,2005-05-29 16:20:29,1,2006-02-15 21:30:53
241,570,2005-05-28 10:15:04,1122,21,2005-05-30 08:32:04,1,2006-02-15 21:30:53
242,703,2005-05-29 02:29:36,1123,269,2005-06-03 04:54:36,2,2006-02-15 21:30:53
243,229,2005-05-26 11:19:20,1131,312,2005-05-31 11:56:20,2,2006-02-15 21:30:53
244,55,2005-05-25 08:26:13,1139,131,2005-05-30 10:57:13,1,2006-02-15 21:30:53
245,621,2005-05-28 15:58:12,1144,239,2005-05-30 21:54:12,1,2006-02-15 21:30:53
246,749,2005-05-29 09:33:33,1146,375,2005-05-31 11:45:33,2,2006-02-15 21:30:53
247,674,2005-05-28 22:11:35,1150,87,2005-06-01 23:58:35,2,2006-02-15 21:30:53
248,422,2005-05-27 15:31:55,1152,150,2005-06-01 11:47:55,2,2006-02-15 21:30:53
249,359,2005-05-27 06:48:33,1156,152,2005-05-29 03:55:33,1,2006-02-15 21:30:53
250,927,2005-05-30 12:16:40,1158,167,2005-05-31 16:20:40,2,2006-02-15 21:30:53
251,263,2005-05-26 15:47:40,1160,449,2005-05-30 10:07:40,2,2006-02-15 21:30:53
252,66,2005-05-25 09:35:12,1162,86,2005-05-29 04:16:12,2,2006-02-15 21:30:53
253,739,2005-05-29 08:28:18,1183,84,2005-06-06 09:21:18,2,2006-02-15 21:30:53
254,862,2005-05-30 03:09:11,1186,328,2005-06-03 21:27:11,1,2006-02-15 21:30:53
255,774,2005-05-29 13:19:43,1188,575,2005-06-01 18:51:43,1,2006-02-15 21:30:53
256,758,2005-05-29 10:31:56,1191,563,2005-06-01 14:53:56,2,2006-02-15 21:30:53

In [22]:
orden=rental_csv.sort_values(by=['rental_id'])
#orden.reset_index(drop=True)

In [23]:
listita=orden['inventory_id'].unique()
listita.sort()

In [24]:
rental_csv.drop(['last_update'], axis=1, inplace=True)

In [25]:

filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\rental_clean.csv')  
rental_csv.to_csv(filepath, index=False)

In [26]:
film_csv.drop(['last_update'], axis=1, inplace=True)

In [27]:

filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\film_clean.csv')  
film_csv.to_csv(filepath, index=False)

In [65]:
inventory_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\inventory.csv')
#inventory_csv.drop(['last_update'], axis=1, inplace=True)

In [66]:
contador=1001
new_row = []
for x in range(1001, 4581):    
    pelicula=random.randint(1,223)
    inventario = contador
    tienda = random.randint(1,2)
    if contador in listita and contador > 1001:    
        dictio={'inventory_id':inventario, 'film_id':pelicula, 'store_id':tienda}
        new_row.append(dictio)
        
    contador +=1

In [67]:
inventory2=inventory_csv.append(new_row, ignore_index=True)

In [68]:
inventory2.tail()

      inventory_id  film_id  store_id last_update
1782          4556      160         2         NaN
1783          4558        5         2         NaN
1784          4568      165         2         NaN
1785          4573      202         1         NaN
1786          4579      157         2         NaN

In [69]:

inventory2.drop(['last_update'], axis=1, inplace=True)
filepath = Path(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\inventory_clean.csv')  
inventory2.to_csv(filepath, index=False)

In [47]:
hdd_csv=pd.read_csv(r'C:\Users\USER\Desktop\Proyectos\sql-data-base-building\data\old_HDD.csv')

In [33]:
hdd_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
first_name      1000 non-null object
last_name       1000 non-null object
title           1000 non-null object
release_year    1000 non-null int64
category_id     1000 non-null int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [34]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Note: you may need to restart the kernel to use updated packages.

In [35]:
conexion=conn.connect(host='localhost', user='root', passwd='1234') # conexion al servidor

cursor=conexion.cursor()
cursor.execute

#data.to_sql(name='w3_project', con=cursor, if_exists='replace', index=False)